{% extends "meals/base.html" %}
{% block title %}DroidFi Eatery{% endblock %}

{% block main %}
    <h2 class="about-header">
        What do we offer?
    </h2>
    <p>
        We offer delicious meals.<br>
        We value our customers by giving them the best of the best in terms of quality meals.<br>
        By buying food from our eatery hotel, you are assuared of nutrisous and healthier food.<br>
        We stricly follow customer's commands.
    </p>
    <p>
        Welcome all
    </p>
{% endblock %}